*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    background-color: #3b2e2e;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    border: .5px solid rgb(237, 241, 6);
    padding-top: 10px;
    padding-left: 8px;
    padding-bottom: 28px;
    padding-right: 8px;
    border-radius: 7px;
    box-shadow: 3px 3px 8px 3px #aab422;
}
.container input{
    display: flex;
    justify-content: center;
    border-radius: 5PX;
    width: 180px;
    height:30px;
    font-size: medium;
    border: 2px solid purple;
    color:rgb(14, 134, 54);
    outline: none;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
}

.button:active{
    .btn:active {
        transform: scale(0.98);
        /* Scaling button to 0.98 to its original size */
        box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
        /* Lowering the shadow */
    }
}
#generate{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #c00b0b;
    color: aliceblue;
    border-radius: 5px;
    margin-right: 10px;
    box-shadow: 1px 1px 1px 1px rgb(150, 56, 56);
    cursor: pointer;
}

#download{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #3304ac;
    color: aliceblue;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgb(36, 22, 140);
    cursor: pointer;
}
#download:hover{
    background-color: rgb(244, 10, 236);
}
#generate:hover{
    background-color: rgb(244, 10, 236);

}
.qr:after{
    display: flex;
    justify-content: center;
}